// Add here all your customized variables

$g-color-primary: #ff6600;
$g-color-secondary: rgba(236, 142, 33, 0.897);
$g-bg-primary: #ff6600;
$g-bg-secondary: #ff6600;
$g-bg-at-blue: rgba(33, 67, 89, 1);
$g-bg-color-main: rgb(236, 235, 220);
$g-color-main: rgba(33, 67, 89, 1);
$g-color-black: rgba(33, 67, 89, 1);
.ataz-menu {
  background-color: #ff6600;
}
